[Unit]
Description=Bitping Node
Requires=network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
Nice=-20
ExecStart=/root/.local/bin/bitpingd

[Install]
WantedBy=multi-user.target
