[Unit]
Description=Bitping Node
Requires=network-online.target
After=network.target network-online.target

[Service]
Environment="SERVICE_MANAGER=true"
Nice=-20
ExecStart=/root/.local/bin/bitpingd run
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
