[Unit]
Description=EarnApp
Requires=network-online.target
After=network.target network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/root/.local/bin/earnapp run
Nice=-20
Restart=always
RestartSec=5
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
