[Unit]
Description=honeygain
Requires=network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
Nice=-20
EnvironmentFile=/etc/script/login
ExecStart=/root/.local/bin/honeygain -email "${USER_C}" -pass "${PASS}" -device "${DEVICE}" -tou-accept

[Install]
WantedBy=multi-user.target
