[Unit]
Description=honeygain
After=network.target network-online.target
After=network-online.target

[Service]
Nice=-20
Type=simple
Restart=on-failure
ExecStart=./.local/bin/honeygain

[Install]
WantedBy=multi-user.target
