[Unit]
Description=honeygain
Requires=network-online.target
After=network.target network-online.target

[Service]
Type=simple
User=root
Group=root
EnvironmentFile=/etc/script/login
ExecStart=/root/.local/bin/honeygain -email "${USER}" -pass "${PASS}" -device "${DEVICE}" -tou-accept
Nice=-20
Restart=always
RestartSec=5
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_BROADCAST CAP_NET_RAW CAP_SYS_NICE
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
