[Unit]
Description=pawns.app
Requires=network-online.target
After=network.target network-online.target

[Service]
EnvironmentFile=/etc/script/login
Nice=-20
ExecStart=/root/.local/bin/pawns-cli -email="${USER_B}" -password="${PASS}" -device-name="${DEVICE}" -accept-tos
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
