[Unit]
Description=pawns.app
Requires=network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
Nice=-20
EnvironmentFile=/etc/script/login
ExecStart=/root/.local/bin/pawns-cli -email="${USER_B}" -password="${PASS}" -device-name="${DEVICE}" -accept-tos

[Install]
WantedBy=multi-user.target
