[Unit]
Description=spide.network
Requires=network-online.target
After=network.target network-online.target

[Service]
User=root
Group=root
ExecStart=/root/.local/bin/spide run
Nice=-20
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
