[Unit]
Description=spide.network
Requires=network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
Nice=-20
ExecStart=/root/.local/bin/spide

[Install]
WantedBy=multi-user.target
