[Unit]
Description=spide.network
Requires=network-online.target
After=network.target network-online.target

[Service]
Nice=-20
ExecStart=/root/.local/bin/spide run
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
